#carouselExampleCaptions {
    max-width: 900px;
    margin: 30px auto;
    border-radius: 20px;
    overflow: hidden;
}

#carouselExampleCaptions img {
    object-fit: cover;
    height: 600px;
}

.card {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.card-text {
    flex-grow: 1;
}

.btn-agregar {
    margin-top: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.descripcion-corta {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.precio {
    text-align: center;
    width: 100%;
    font-size: 1.1rem;
}

.categoria {
    display: block;
    margin: 10px auto;
    padding: 5px 20px;
    text-align: center;
    width: fit-content;
}

.centrado-full {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-form {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.tarjeta-horizontal {
    max-width: 900px;
    margin: 20px auto;
    border-radius: 12px;
}

.tarjeta-horizontal img {
    height: 200px;
    object-fit: cover;
}

.api-section-title {
    font-weight: 700;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 2rem;
}

.api-card {
    border-radius: 15px;
    overflow: hidden;
    background: #1e1e1e;
    color: #fff;
    
    display: flex;
    flex-direction: column;
    height: 100%;
}

.api-card:hover {
    transform: scale(1.03);
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.api-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.descuento-btn {
    width: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
    padding: 8px;
    
}

.api-btn {
    width: 100%;
    margin-top: 10px;
}
